/*-------------------------Reset-------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-------------------------Logo + Nav-------------------------*/
.navbar-brand-text {
  font-size: large;
  font-weight: 600;
}
.bg-gris {
  background-image: linear-gradient(to bottom, #353a40, #343a40, #333a40);
}
nav img {
  width: 100px;
}
.navbar-brand {
  margin: 0;
}
.navbar {
  padding: 5px 3%;
  min-height: 70px;
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 3;
}
/*-------------------------html + Main-------------------------*/
main {
  position: relative;
  margin-top: 75px;
  min-height: calc(100vh - 75px);
}
/*-------------------------Fondo Portada + Info-------------------------*/
#conferencia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../assets/img/ba1.png");
  height: 80vh;
  min-height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;

  .portada__info__btn a {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
  }
  .portada__info {
    font-weight: 400;
    z-index: 2;
  }
}

/*-------------------------Oradores-------------------------*/
.oradores__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .oradores__card {
    width: 25vw;
    margin: 10px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.07rem;
    display: flex;
    flex-direction: column;
  }
  .oradores__description {
    margin: 0px 20px 20px 20px;
  }
  .oradores__skills {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 0.8em;
  }
  .oradores__skills h4 {
    margin-right: 4px;
    margin-bottom: 0px;
    padding: 2px;
  }
  .oradores h3 {
    margin-bottom: 10px;
  }
}

/*-----------------Colores especialidad oradores-----------------*/

.amarillo {
  background-color: #fec106;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 700;
}

.celeste {
  background-color: #17a2b9;
  border-radius: 5px;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
}
.gris {
  background-color: #6b767c;
  border-radius: 5px;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
}
.rojo {
  background-color: #dc3546;
  border-radius: 5px;
  color: white;
  font-size: 0.9em;
  font-weight: 700;
}

/*-------------------------Lugar Conferencia-------------------*/
.lugar__img {
  border: 1px solid white;
  padding: 0;
}
.lugar__info {
  background-image: linear-gradient(
    to bottom,
    #353a40,
    #353a40,
    #343a40,
    #343a40,
    #333a40
  );
  color: white;
  border: 1px solid white;
}
.lugar__info a {
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
}
/*-------------------------Formulario----------------------*/
.container__formulario{
  width: 60vw;
}
.btnVerde {
  background-color: #89c40c;
  border: none;
  border-radius: 0.5rem;
  padding: 10px;
  color: white;
  width: 100%;
  margin: 10px 0;
}

/*-------------------------Publicidad---------------------*/

.publicidad__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #ffffff, #f3f1f1);
  .publicidad__h2 {
    text-align: center;
    padding: 20px 0;
    color: white;
    text-decoration: underline;
  }
  .publicidad__mapa {
    padding-top: 10px;
    height: 50%;
  }
}

/*-------------------------Footer-------------------------*/
/*footer{
  position: absolute;
  bottom: 0px;
}*/
.pie__container {
  display: flex;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #1d3744,
    #1d3e4f,
    #1d445a,
    #1d4b65,
    #1d5271
  );
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.9em;
}
.pie__container a {
  padding: 20px;
}

/*----------------------------Clases extra estilos de fuente--------------------------------*/
/*-----DATOS: 1em = 16px-----*/
body {
  height: 100vh;
}
body h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body a {
  text-decoration: none;
  color: white;
}
.txtlog{
  color:black;
  font-size: smaller;
}
.txtlogazul{
  color: blue;
}
.enunciado {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
  font-size: 2em;
  span {
    font-weight: 100;
  }
}

.txtIzq {
  text-align: left;
  margin: 0px 4px;
  font-weight: 100;
  font-size: 0.9em;
}

.txtS {
  font-size: 0.4em;
}

.txtPunteado {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

/*-------------------------Pagina Tickets-------------------------*/
.card {
  padding: 25px;
  text-align: center;
  border-radius: 0;
}
.container__tickets {
  margin-top: 5%;
  padding-top: 25px;
}
#total {
  padding: 15px;
  background-color: #cce5ff;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

/*-----------------Pagina Lista-Oradores-----------------*/
.lista_container{
  margin-top: 90px;
}
/*-------------------------Animaciones-------------------------*/

.boton-animado {
  transition: transform 0.2s ease-in-out;
}
.boton-animado:hover {
  transform: scale(1.1);
}
.link-animado {
  transition: transform 0.1s ease-in-out;
}
.link-animado:hover {
  transform: scale(1.05);
}
.sub::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(219, 186, 36);
  visibility: hidden;
  transform: scaleX(0);
  transition: visibility 0s, transform 0.3s ease-in-out;
}

.sub:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/*-------------------------Bordes de Links y colores-------------------------*/
.backVerde {
  background-color: #2ca82c;
  border-style: none;
}
.bordeLink {
  border: 1px solid white;
}

.colorVerde {
  color: #2ca82c;
}
.colorVerde:hover {
  color: #2ca82c;
}
.logged{
  text-align: center;
  padding: 8px 20px !important;
  border-radius: 20px;
  margin-left: 8px;
}
.login_btn {
  width: auto;
  padding: 8px 40px !important;
  margin-left: 8px;
  border-radius: 20px;
  background-color: rgb(18, 194, 47);
  color: white;
}
.btn-lista{
  display: block;
  text-align: center;
  width: 70px !important;
  color: black !important;
}
.colorGris {
  color: #9ba4a8;
}
.colorBlanco {
  color: white;
}

.modal-footer{
  justify-content: center;
}

.popup {
  position: fixed;
  top: 10vh; /* Posición desde la parte superior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%);
  z-index: 1000; /* Asegura que esté por encima del resto del contenido */
}
.login_container{
  width: 150px;
  width: auto;
  justify-content: center;
  text-align: center;
}
/*-------------------------Media Queries-------------------------*/

@media screen and (max-width: 1200px) {
  .navbar-brand-text {
    justify-content: center;
    margin-right: 30px;
  }
  #conferencia {
    height: 60vh;
  }
  .oradores__container {
    flex-direction: column;
    align-items: center;
    .oradores__card {
      width: 60%;
    }
  }
  .publicidad__container {
    .publicidad__video {
      width: 80%;
    }
  }
  .lugar__container {
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
  }
  .lugar__container img{
    max-height: 550px !important;
    width: 100% !important;
  }
  .lugar__info{
    width: 100% !important;
    text-align: center;
  }
  
  .sub::before {
    content: "";
    position: absolute;
    width: auto;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(228, 167, 87);
    visibility: hidden;
    transform: scaleX(0);
    transition: visibility 0s, transform 0.3s ease-in-out;
  }
  
  .sub:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

@media screen and (max-width: 768px) {

  .oradores__container {
    flex-direction: column;
    align-items: center;
    .oradores__card {
      width: 75%;
    }
  }

  .lugar__container {
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
  }

  .publicidad__container {
    height: 70vh;
    .publicidad__video {
      width: 100%;
      height: 50%;
    }
    .publicidad__mapa {
      height: 50%;
    }
  }
  .card {
    margin-bottom: 10px;
  }
  .container__formulario{
    width: 90vw;
  }
}